@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap');

body {
    background-color: #EEF9BF;
    margin: 0 auto;
}

.conteudo {
    align-self: center;
    margin: 0 auto;
}


.title {
    font-family: Roboto;
    font-size: 56px;
    font-weight: 700;
    line-height: 65px;
    color: #75B79E;
    text-align: center;
    margin-top: 40px;
}

.cards {
    width: 50%;
    margin: 50px auto;
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
}

.card{
    width: 117px;
    height: 146px;
    position: relative;
    background-color: #A7E9AF;
    margin: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border-radius: 5px;
    border: solid 1px #99CEA8;
    transform-style: preserve-3d;
    transition: 0.5s;
}

.back-face, .front-face {
    width: 100px;
    height: 100px;
    position: absolute;
}

.face {
    background-color: #A7E9AF;
    backface-visibility: hidden;
    transition: all .5s;  
}

.front-face {
    transform: rotateY(180deg);
}

.face:active {
    transform: scale(0.97);
}

.card.flip {
    transform: rotateY(180deg);
}

@media (max-width:767px) {
    .title {
        font-size: 36px;
        width: 310px;
        line-height: 42px;
        margin: 40px auto 0px auto;
    }
    
    .cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
    }
}

@media (max-width:1100px ) { 
    .cards {
        width: 80vw;
        display: flex;
        flex-wrap: wrap;
    }
}